<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>


  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <input type="button" class="btn btn-primary" value="Submit" />
    <button class="btn btn-small btn-primary" type="button">Small button</button>

    <div  class="classRed">This is my div</div>

  </body>
</html>